{% extends 'layout.html' %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    {% block contents %}
    <h3> Profile section</h3>
    Share profile url => <input type="text" readonly style="width: 530px;" id="textToCopy" value="https://blog.mystockcompanion.tech/blog/{{ current_user.userid }}/">
    <button id="copybtn" onclick="copyText()">Copy</button>
    <div class="signup-container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-success custom-alert hidden" onchange="setTimeout();">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith%}
        <form action="{{url_for('posts.profile_post')}}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              {% if not  current_user.filepath %}
                <img src="{{ url_for('static', filename='JPG-File.png') }}" class="card-img-top" style="object-fit: fill; height: 50px; width: 50px;" alt="...">
               {% else %}
               <img src="{{ url_for('static', filename=current_user.filepath) }}" class="card-img-top" style="object-fit: fill; height: 50px; width: 50px;" alt="...">
                {% endif %}
                <label for="filepath">Profile photo:</label>
                <input type="file" class="form-control" name="filepath" id="filepath" accept="image/*">
            </div>
<!--             <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" required>
            </div> -->
<!--             <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" required>
            </div> -->
            <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <!-- First Name -->
                    <label for="first_name">First Name:</label>
                    {% if current_user.first_name  %}
                    <input type="text" class="form-control" value="{{ current_user.first_name }}" name="first_name" id="first_name" placeholder="Enter first name" required>
                 {% else %}
                 <input type="text" class="form-control"  name="first_name" id="first_name" placeholder="Enter first name" required>
                 {% endif %}
                  </div>
                  <div class="col-md-6">
                    <!-- Last Name -->
                    <label for="last_name">Last Name:</label>
                    <input type="text" class="form-control"  value="{{ current_user.last_name }}" name="last_name" id="last_name" placeholder="Enter last name" required>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="instagram">About: </label>
                {% if current_user.instagram  %}
                <input type="text" maxlength="200" class="form-control" value="{{ current_user.instagram }}" name="instagram" id="instagram" placeholder="Bio">
           {% else %}
           <input type="text" maxlength="200" class="form-control" name="instagram" id="instagram" placeholder="Bio">
           {% endif %}
              </div>
            <div class="form-group">
                <label for="website">Website url:</label>
            {% if current_user.website  %}
              <input type="text" class="form-control" value="{{ current_user.website }}" name="website" id="website" placeholder="Enter Website">
           {% else %}
           <input type="text" class="form-control"  name="website" id="website" placeholder="Enter Website">
           {% endif %}
              </div>
            <div class="form-group">
                <label for="github">Github url:</label>
                {% if current_user.gitup  %}
                <input type="text" class="form-control" value="{{ current_user.gitup }}" name="gitup" id="gitup" placeholder="Enter Github">
            {% else %}
            <input type="text" class="form-control"  name="gitup" id="gitup" placeholder="Enter Github">
            {% endif %}
              </div>
            <div class="form-group">
                <label for="facebook">Facebook url:</label>
                {% if current_user.facebook  %}
                <input type="text" class="form-control" value="{{ current_user.facebook }}" name="facebook" id="facebook" placeholder="Enter facebook">
            {% else %}
            <input type="text" class="form-control"  name="facebook" id="facebook" placeholder="Enter facebook">

            {% endif %}
              </div>
            <div class="form-group">
                <label for="linkedin">Linkedin url:</label>
              {% if current_user.linkedin  %}
              <input type="text" class="form-control" value="{{ current_user.linkedin }}" name="linkedin" id="linkedin" placeholder="Enter Linkedin">
            {% else %}
            <input type="text" class="form-control"  name="linkedin" id="linkedin" placeholder="Enter Linkedin">
            {% endif %}
              </div>
            <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="youtube">youtube url:</label>
                    {% if current_user.youtube  %}
                    <input type="text" class="form-control" value=" {{ current_user.youtube }} " name="youtube" id="youtube" placeholder="Enter youtube">
               {% else %}
               <input type="text" class="form-control"  name="youtube" id="youtube" placeholder="Enter youtube">
               {% endif %}
                  </div>
                  <div class="col-md-6">
                    <label for="twitter">twitter url:</label>
                    {% if current_user.twitter  %}
                    <input type="text" class="form-control" value="{{ current_user.twitter }}" name="twitter" id="twitter" placeholder="Enter twitter">    
                {% else %}
                <input type="text" class="form-control"  name="twitter" id="twitter" placeholder="Enter twitter">    
                {% endif %}
                
                  </div>
                </div>
              </div>
              <br>
            <button type="submit" class="btn btn-danger btn-block">Save my information</button>
      
          </form>
    </div>

    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
     
      function copyText() {
        /* Get the text field */
        var copyText = document.getElementById("textToCopy");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Change the button text to indicate it's copied */
        var copyButton = document.getElementById("copybtn");
        copyButton.innerHTML = "Copied!";
    }
  </script>
    {% endblock contents %}
