<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f4f4f4;
        }

        .login-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            margin-top: 100px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }
        
    </style>
</head>
<body>
  
    <div class="container login-container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-danger custom-alert hidden">
            {{ messages[0] }}
        </div>
        {% else %}
        <div class="alert alert-primary custom-alert">
           Password Reset
        </div>
        {% endif %}
        {% endwith%}

        <h2 class="text-center">MyBlogText</h2>
        <hr>
        <form action="{{url_for('posts.reset_post')}}" method="POST" >
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" required minlength="6" maxlength="255">
            </div>
            <div class="form-group">
                <label for="confirmpassword">Confirm password:</label>
                <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" placeholder="Re-Enter password" required minlength="6" maxlength="255">
            </div>
            <div class="form-group">
               </div><div  style="float: left;">
                    <a href="{{ url_for('index') }}" class="btn btn-light btn-sm">Back to Home</a>

                </div> 
<div  style="text-align: right;"">
            <button type="submit"  class="btn btn-primary">Reset</button></div> 
        </form>
    </div>

    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
