{% extends 'layout.html' %}

{% block title %}
  Post with {{ tags.title }} tag
{% endblock title %}


{% block contents %}
<div class="user-profile">
  <div class="profile-image">
      <a href="{{ url_for('posts.post_list', userid=user_.userid) }}"><img class="rounded-image" src="{{ url_for('static', filename=user_.filepath) }}" alt="Rounded Image">
          </a>
  </div>
  <div class="profile-details">
      <h5> {{ user_.first_name }} {{ user_.last_name}}</h5>
      <p>{{ user_.email }}<br>
      {{ user_.instagram }}</p>
      <a href="{{ url_for('posts.post_list', userid=user_.userid) }}" class="btn btn-secondary btn-sm">Back to Home</a>
  </div>
</div>
<hr>
  {% set i = 0 %}
  <div class="row">
    {% for post in pages.items %}
    {% include 'posts/includes/card.html' %}
    {% endfor %}
    {% if i % 3 == 2 %}
</div>
<div class="row">
{% endif %}
{% set i = i + 1 %}
</div>
<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item {% if not pages.has_prev %} disabled {% endif %}">
      <a class="page-link" href="./?page={{ pages.prev_num }}">Previous</a>
    </li>

<!--       <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li> -->

    {% for page in pages.iter_pages() %}
    <li class="page-item {% if page == pages.page %} active {% endif %}">
      <a class="page-link" href="./?page={{ page }}">{{ page }}</a>
    </li>
    {% endfor%}

    <li class="page-item {% if not pages.has_next %} disabled {% endif %}">
      <a class="page-link" href="./?page={{ pages.next_num }}">Next</a>
    </li>
  </ul>
</nav>
{% endblock contents %}
    