<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f4f4f4;
        }

        .signup-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            margin-top: 80px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }
    </style>
</head>
<body>
    <div class="container signup-container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-danger custom-alert hidden">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith%}
        <h2 class="text-center">MyBlogText</h2>
        <hr>
        <form action="{{url_for('posts.signup_post')}}" method="POST" >
            <!-- <div class="form-group">
                <label for="imageupload">Upload Picture:</label>
                <input type="file" class="form-control-file" id="imageupload" accept="image/*">
            </div> -->
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" required>
            </div>
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Enter first name" required>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Enter last name" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Signup</button>
        </form>
    </div>

    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
